<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1>Login</h1>
      <form [formGroup]="baseFormLogin.baseForm" (ngSubmit)="onLogin()">
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Username" required formControlName="username">
          <mat-error *ngIf="baseFormLogin.isValidField('username')">
            {{baseFormLogin.getErrorMessage("username")}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input separator">
          <input [type]="hide ? 'password': 'text'" matInput placeholder="Password" required formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="baseFormLogin.isValidField('password')">
            {{baseFormLogin.getErrorMessage("password")}}
          </mat-error>
        </mat-form-field>
        <button [disabled]="baseFormLogin.baseForm.invalid" type="submit" mat-raised-button
          color="primary">Login</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>
